<!--<h1>{{title}}</h1>-->
<h2>My Products</h2>
<ul class="products">
    <li *ngFor="let product of products" (click)="onSelect(product)" [class.selected]="product === selectedProduct">
        <span class="badge">{{product.id}}</span> {{product.name}}
    </li>
</ul>
<!--<my-product-detail [product]="selectedProduct"></my-product-detail>-->
<div *ngIf="selectedProduct">
    <h2>
        {{selectedProduct.name | uppercase}} is my Product
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>