<h2>My Products</h2>
<div>
    <label>Hero name:</label>
    <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">
        Add
    </button>
</div>
<ul class="products">
    <li *ngFor="let product of products" (click)="onSelect(product)" [class.selected]="product === selectedProduct">
        <span class="badge">{{product.id}}</span>
        <span>{{product.name}}</span>
        <button class="delete"
                (click)="delete(product); $event.stopPropagation()">x</button>
    </li>
</ul>
<!--<my-product-detail [product]="selectedProduct"></my-product-detail>-->
<div *ngIf="selectedProduct">
    <h2>
        {{selectedProduct.name | uppercase}} is my Product
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>